fastapi
uvicorn[standard]
pydantic
aiokafka
asyncpg
boto3
numpy
scipy
opencv-python-headless
PyYAML
pandas
reportlab
python-dotenv
onnxruntime
Pillow
alembic

SQLAlchemy

celery

redis

httpx

pytest

pytest-asyncio

requests
